MONGO_URI=
PORT=3000

MONGODB_URI=
SMTP_HOST=smtp email
SMTP_PORT=smtp port
SMTP_USER=smtp email user 
SMTP_PASS=smtp password 
SMTP_FROM=user
JWT_SECRET=JWT access key
ACCESS_TOKEN_SECRET=Token access
REFRESH_TOKEN_SECRET=refresh token
FRONTEND_URL=frontend url



# PostHog API Key (Create an account with via email to get this)
POSTHOG_API_KEY=API key
POSTHOG_HOST=url
SECURITY_ALERT_EMAIL_USER=users email where you want to triggerd alert email